@media screen and (min-width:769px) {
  .tractor__properties_type_cabin {
    top: 30%;
    left: 2%;
  }
}


.tractor__properties_type_cabin::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  background-image: url('../../../../../images/cabin-care-alert-svgrepo-com.svg');
  background-size: contain;
  width: 33px;
  height: 33px;
}
