.section-box {
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .section-box {
    padding: 20px;
  }
}

@media screen and (max-width: 426px) {
  .section-box {
    padding: 20px 20px;
  }
}
