.contacts {
  margin: 0 auto;
  max-width: 1170px;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
}

@media screen and (max-width:768px) {
  .contacts {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
