.section-intro__dash {
  display: inline-block;
  margin: 10px 0;
  width: 64px;
  height: 3px;
  background-color: #ffc513;
  background-size: contain;
  background-image: url('../../../images/dash-svgrepo-com.svg');
}
