.header__hours {
  margin: 0;
  padding-left: 40px;
  color: inherit;
  position: relative;
}

.header__hours:hover {
  color: white;
}

.header__hours::before {
  -webkit-mask-image: url('../../../images/clock-svgrepo-com.svg');
  mask-image: url('../../../images/clock-svgrepo-com.svg');
}