.header__address {
  color: inherit;
  display: block;
  padding-left: 40px;
  position: relative;
}

.header__address:hover {
  cursor: pointer;
  color: white;
}

.header__address::before {
  -webkit-mask-image: url('../../../images/location-3-svgrepo-com.svg');
  mask-image: url('../../../images/location-3-svgrepo-com.svg');
}