.page-title {
  margin: 40px auto;
  background-color: #292929;
  padding: 47px 15px 45px;
  text-align: center;
  background-image: url('../../images/header-photo-bg.jpeg');
  background-position: 20% 45%;
}
