.social-media__telegram {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../../../images/telegram-svgrepo-com.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
