.header__tel {
  color: inherit;
  display: block;
  padding-left: 40px;
  position: relative;
}

.header__tel:hover {
  cursor: pointer;
  color: white;
}

.header__tel::before {
  -webkit-mask-image: url('../../../images/call-cell-communication-phone-ring-talk.svg');
  mask-image: url('../../../images/call-cell-communication-phone-ring-talk.svg');
}