.vehicle-container {
  margin: 0 auto;
  padding: 0;
  background-image: url(../../images/DT-75-Tractor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  aspect-ratio: 2/1;
  position: relative;
  width: 80%;
  z-index: 3;
}
