.vehicle-container {
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  padding: 10% 5% 1%;
  width: 65%;
  background-color: #616161;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .vehicle-container {
    padding: 3% 1% 1%;
    width: 100%;
  }
}
