.header__info {
  grid-area: header__info;
  display: flex;
  gap: 50px;
  color: #a9a9a9;
}


@media screen and (max-width: 768px) {
  .header__info {
    flex-direction: column;
    gap: 30px;
  }
}