.services__wrapper {
  background-color: #616161;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .services__wrapper {
    padding-top: 130px;

  }
}
