.icon__batteries {
  top: 55%;
  left: 34%;
}

.icon__batteries::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/battery-svgrepo-com.svg);
}
