.model-info {
  display: grid;
  grid-template-areas:
    "photo photo description description"
    "display display display menu";

  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 3%;

}