.text_style_aside-title {
  margin: 0;
  padding: 20px 10px 20px 35px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: #292929;
}

@media screen and (max-width:768px) {
  .text_style_aside-title {
    font-size: 22px;
    line-height: 30px;
  }
}