.vehicle-container__icon {
  background-size: 35px;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}


.vehicle-container__icon:hover {
  background-color: #ffc513;
}

.vehicle-container__icon:before {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: .2s all;
  }
