.gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .gallery__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}