.experts__btn {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  width: 80px;
  height: 40px;
  background-position: 50%;
  background-size: 25%;
  border: 1px solid black;
  background-color: transparent;

}
