.values {
  padding: 60px 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

@media screen and (max-width:768px) {
  .values {
    grid-template-columns: none;
    padding: 10px 0;
  }
}
