.footer__wrapper {
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width:768px) {
  .footer__wrapper {
    grid-template-columns: none;
    justify-content: start;
  }
}
