@media screen and (min-width:769px) {
  .tractor__properties_type_otval {
    top: 65%;
    left: 2%;
  }
}



.tractor__properties_type_otval:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  background-size: cover;
  background-image: url('../../../../../images/shovel-svgrepo-com.svg');
  background-size: contain;
  width: 33px;
  height: 33px;
}
