.text_style_regular-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  color: #292929;
}

@media screen and (max-width:768px) {
  .text_style_regular-paragraph {
    font-size: 14px;
    line-height: 20px;
  }
}