.header__content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}

.header__content::before {
  content: '';
  position: absolute;
  left: 50px;
  top: -5px;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  height: 75px;
  width: 75px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: white;
  -webkit-mask-image: url('../../../images/logo-tractor-svgrepo-com.svg');
  mask-image: url('../../../images/logo-tractor-svgrepo-com.svg');
}

@media screen and (max-width: 768px) {
  .header__content::before {
    top: 2px;
    left: 20px;
    height: 50px;
    width: 50px;
  }
}
