.icon__diagnostics {
  top: 20%;
  left: 55%;
}

.icon__diagnostics::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/stethoscope-svgrepo-com.svg);
}
