.icon__transmission {
  top: 62%;
  left: 45%;
}

.icon__transmission::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/gearshift-shift-svgrepo-com.svg);
}
