.icon__engine {
  top: 70%;
  left: 25%;
}

.icon__engine::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/engine-motor-svgrepo-com.svg);
}
