.icon__engine {
  top: 55%;
  left: 8%;
  background-image: url(../../../../images/engine-motor-svgrepo-com.svg);
}

.icon__engine:hover {
  background-image: url(../../../../images/engine-motor-active.svg);
}
