.icon__tires {
  top: 44%;
  left: 75%;
}

.icon__tires::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/tire-svgrepo-com.svg);
}
