.text_style_subtitle-white {
  color: white;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

@media screen and (max-width:768px) {
  .text_style_subtitle {
    font-size: 18px;
    line-height: 30px;
  }
}
