.main-carousel__link {
  padding: 18px 27px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 2px solid #ffc513;
  border-radius: 2px;
  display: block;
}

.main-carousel__link:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid white;
}


@media screen and (max-width:768px) {
  .main-carousel__link {
    text-align: center;
  }
}