.header__icon::before {
  content: '';
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: white;
}

.header__icon:hover::before {
  background-color: #ffc513;
}