.vehicle-container__link {
  display: block;
  padding: 17px 35px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 5px;
}

.vehicle-container__link:hover {
  color: #3a3a3a;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .vehicle-container__link {
    margin: 10px auto;
    position: static;
    padding: 12px 25px;

  }
}