.interactive-pic__title {
  margin: 0 auto;
  padding: 0;
  color: #6c6c6c;
  position: absolute;
  font-size: 130px;
  text-align: center;
  top: 7%;
  left: 0;
  right: 0;
}


@media screen and (max-width: 1023px) {
  .interactive-pic__title {
    font-size: 90px;
  }
}
