.icon__oil-lube {
  top: 43%;
  left: 20%;
}

.icon__oil-lube::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/oil-svgrepo-com.svg);
}

