.icon__oil-lube {
  top: 44%;
  left: 25%;
}

.icon__oil-lube::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/oil-svgrepo-com.svg);
}
